/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* CONTAINER */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* HEADER */
.header {
    padding: 30px 0;
    text-align: center;
}

/* LOGO */
.logo {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

.white {
    color: #ffffff;
}

.yellow {
    color: #FFD700;
}

/* HERO */
.hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 28px;
    font-weight: 300;
    color: #aaa;
}
